Repository rbertoche/space-station-14, pull requests merged in 2024-07, with the labels that each got.

#94 buffar o cap
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/sword.yml
Labels: No C#

#97 fonte de energia movida a carangueijo
  Resources/Maps/EstacaoPirata/esperanza.yml
  Resources/Prototypes/Maps/EstacaoPirata/esperanza.yml
Labels: No C#

#89 Remove necromorph e plasma cutter do jogo
  Resources/Audio/EstacaoPirata/Weapons/PlasmaCutter/plasmapistol_rack.ogg
  Resources/Audio/EstacaoPirata/Weapons/PlasmaCutter/plasmapistol_reload.ogg
  Resources/Audio/EstacaoPirata/Weapons/PlasmaCutter/plasmapistol_reout.ogg
  Resources/Audio/EstacaoPirata/Weapons/PlasmaCutter/plasmapistol_shot.ogg
  Resources/Audio/Voice/Necromorph/grito1.ogg
  Resources/Audio/Voice/Necromorph/grito2.ogg
  Resources/Audio/Voice/Necromorph/grito3.ogg
  Resources/Audio/Voice/Necromorph/suspiro1.ogg
  Resources/Audio/Voice/Necromorph/suspiro2.ogg
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/EstacaoPirata/Entities/Mobs/NPCs/Necromorph.yml
  Resources/Prototypes/EstacaoPirata/Entities/Objects/Weapons/Guns/Pistol/Plasma Cutter/CartuchoPlasmaEnergy.yml
  Resources/Prototypes/EstacaoPirata/Entities/Objects/Weapons/Guns/Pistol/Plasma Cutter/EletricPlasma.yml
  Resources/Prototypes/EstacaoPirata/Entities/Objects/Weapons/Guns/Pistol/Plasma Cutter/EnergyShell.yml
  Resources/Prototypes/EstacaoPirata/Entities/Objects/Weapons/Guns/Pistol/Plasma Cutter/ImpactEletric.yml
  Resources/Prototypes/EstacaoPirata/Entities/Objects/Weapons/Guns/Pistol/Plasma Cutter/plasmacutter.yml
  Resources/Prototypes/Recipes/Lathes/security.yml
Labels: No C#

#98 Maid update
  Resources/Prototypes/Catalog/VendingMachines/Inventories/janidrobe.yml
Labels: No C#

#99 Pequenas mudanças na Esperanza
  Resources/Maps/EstacaoPirata/esperanza.yml
Labels: No C#

#102 atualiza números de jogadores necessários
  Resources/Prototypes/Maps/gaxstation.yml
  Resources/Prototypes/Maps/glacier.yml
  Resources/Prototypes/Maps/oasis.yml
  Resources/Prototypes/Maps/train.yml
Labels: No C#, Changes: Map

#107 Trazer o resprite do disabler feito pelo Yarleybr
  Resources/Textures/Objects/Weapons/Guns/Battery/disabler.rsi/base.png
  Resources/Textures/Objects/Weapons/Guns/Battery/disabler.rsi/mag-unshaded-0.png
  Resources/Textures/Objects/Weapons/Guns/Battery/disabler.rsi/mag-unshaded-1.png
  Resources/Textures/Objects/Weapons/Guns/Battery/disabler.rsi/mag-unshaded-2.png
  Resources/Textures/Objects/Weapons/Guns/Battery/disabler.rsi/mag-unshaded-3.png
  Resources/Textures/Objects/Weapons/Guns/Battery/disabler.rsi/mag-unshaded-4.png
  Resources/Textures/Objects/Weapons/Guns/Battery/disabler.rsi/meta.json
Labels: Changes: Sprites, No C#

#106 Restaura sprites do capacete da hardsuit da eng
  Resources/Textures/Clothing/Head/Hardsuits/engineering.rsi/icon-flash.png
  Resources/Textures/Clothing/Head/Hardsuits/engineering.rsi/icon.png
  Resources/Textures/Clothing/Head/Hardsuits/engineering.rsi/off-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardsuits/engineering.rsi/on-equipped-HELMET.png
Labels: Changes: Sprites, No C#

#110 Retira a música "Ilha Mega Hétero" do Lobby
  Resources/Audio/EstacaoPirata/Lobby/ilhamegahetero.ogg
  Resources/Prototypes/SoundCollections/lobby.yml
Labels: No C#

#109 modifica evento de zumbis midround
  Resources/Prototypes/GameRules/events.yml
Labels: No C#
