Repository rbertoche/space-station-14, pull requests merged in 2024-09, with the labels that each got.

#144 Re buffa o capitão!!
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/sword.yml
Labels: Changes: YML

#141 Adiciona Glacier e Saltern na rotação. Corrige as vagas do Glacier.
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/Maps/glacier.yml
Labels: Changes: Map

#147 as logos iradas estão de volta
  Resources/Textures/Logo/icon-license.txt
  Resources/Textures/Logo/icon.ico
  Resources/Textures/Logo/icon/icon-128x128.png
  Resources/Textures/Logo/icon/icon-16x16.png
  Resources/Textures/Logo/icon/icon-24x24.png
  Resources/Textures/Logo/icon/icon-256x256.png
  Resources/Textures/Logo/icon/icon-32x32.png
  Resources/Textures/Logo/icon/icon-48x48.png
  Resources/Textures/Logo/icon/icon-64x64.png
  Resources/Textures/Logo/logo.png
  Resources/Textures/Logo/logo.svg
  Resources/Textures/Logo/source/DefaultLogoSplah.svg
  Resources/Textures/Logo/source/EE_bannger.svg
  Resources/Textures/Logo/source/EE_logo-dark.svg
  Resources/Textures/Logo/source/EE_logo-light.svg
  Resources/Textures/Logo/source/LogoIcon.svg
  Resources/Textures/Logo/splashlogo.png
  Resources/manifest.yml
Labels: Changes: YML

#145 Tradução de algumas coisas importantes
  Resources/Locale/pt-BR/bed/cryostorage/cryogenic-storage.ftl
  Resources/Locale/pt-BR/chat/managers/chat-manager.ftl
  Resources/Locale/pt-BR/health-examinable/health-examinable-selfaware.ftl
  Resources/Locale/pt-BR/interaction/offer-item-system.ftl
  Resources/Locale/pt-BR/lathe/ui/lathe-menu.ftl
  Resources/Locale/pt-BR/medical/components/cpr-training-component.ftl
  Resources/Locale/pt-BR/movement/laying.ftl
Labels: Changes: Localization

#152 Atualiza o sprite dos cilindros de Trítio e Ammonia para o novo estilo
  Resources/Textures/Structures/Storage/canister.rsi/green-1.png
  Resources/Textures/Structures/Storage/canister.rsi/green.png
  Resources/Textures/Structures/Storage/canister.rsi/greenys-1.png
  Resources/Textures/Structures/Storage/canister.rsi/greenys.png
Labels: Changes: Sprite

#154 Traduz várias coisas
  Resources/Locale/pt-BR/alert-levels/alert-levels.ftl
  Resources/Locale/pt-BR/alerts/alerts.ftl
  Resources/Locale/pt-BR/deltav/chat/managers/chat_manager.ftl
  Resources/Locale/pt-BR/deltav/ghost/roles/ghost-role-component.ftl
  Resources/Locale/pt-BR/deltav/job/job-names.ftl
  Resources/Locale/pt-BR/deltav/objectives/conditions/paradox-anomaly.ftl
  Resources/Locale/pt-BR/deltav/research/technologies.ftl
  Resources/Locale/pt-BR/deltav/species/species.ftl
  Resources/Locale/pt-BR/deltav/station-events/events/xeno-vent.ftl
  Resources/Locale/pt-BR/job/job-names.ftl
  Resources/Locale/pt-BR/job/nyano-desc.ftl
  Resources/Locale/pt-BR/navmap-beakons/station-beacons.ftl
  Resources/Locale/pt-BR/navmap-beakons/station_map.ftl
  Resources/Locale/pt-BR/prototypes/access/accesses.ftl
  Resources/Locale/pt-BR/traits/traits.ftl
  Resources/Prototypes/Access/research.yml
  Resources/Prototypes/Access/service.yml
Labels: Changes: Localization, Changes: YML

#153 Atualiza cor do icon de bibliotecario
  Resources/Textures/Interface/Misc/job_icons.rsi/Librarian.png
Labels: Changes: Sprite

#157 Update GaxStation
  Resources/Maps/EstacaoPirata/gaxstation.yml
Labels: Changes: Map

#159 Update BrasStation
  Resources/Maps/EstacaoPirata/brasstation.yml
Labels: Changes: Map

#161 URGENTE. Corrige a mudança de nome da linguagem comum para os Daengati.
  Resources/Locale/pt-BR/language/languages.ftl
  Resources/Prototypes/EstacaoPirata/Mobs/Species/Daengati.yml
Labels: Changes: Localization, Changes: YML

#162 Update RadStation
  Resources/Maps/EstacaoPirata/gaxstation.yml
  Resources/Maps/EstacaoPirata/radstation.yml
  Resources/Maps/Shuttles/EstacaoPirata/cargo_gax.yml
  Resources/Prototypes/Maps/EstacaoPirata/radstation.yml
Labels: Changes: Map
